doctype html
html
  head
    title Prash Dance Academy
    block scripts
    block style
  body
    nav#navbar
            ul
                img(src="/static/navbar_logo_edit.png", alt="")
                li #[a(href="/") Home]
                li #[a(href="/") about]
                li #[a(href="/") services]
                li #[a(href="/contact") Contact us]
    block content
    footer#footer
            h3
                |Copyright © 2020 PrashDanceAcademy.com|All right reserved
            h4
                |Contact Number :-9582543390 |Gmail:-Kartik2254blue@gmail.com