doctype html
html
    head
        title 
            |Prash Dance Academy
        style
            include ../static/style.css
    body
        nav#navbar
            ul
                img(src="/static/navbar_logo_edit.png", alt="")
                li #[a(href="/") Home]
                li #[a(href="/") about]
                li #[a(href="/") services]
                li #[a(href="/") Contact us]
        section#introsection
            div
                h1
                    |Prash Dance Academy
                h2 
                    |eat sleep DANCE repeat
        section#ourmissionsection
            h1
                |Our Mission
            div#container1
                div.box
                    h2
                        |Dance Performance
                    img(src="/static/dance_1_edit.png", alt="")   
                    p
                        |This is the best academy of universe
                div.box        
                    h2
                        |Dance the way You Like
                    img(src="/static/dance_3.png", alt="")   
                    p
                        |This is the best academy of universe
                div.box        
                    h2
                        |Expert Teaching
                    img(src="/static/dance_2.png", alt="")   
                    p
                        |This is the best academy of universe
        section#sponsorsection
            h1
                |Our sponsor
            div#container2    
                div.box1
                    
                    img(src="/static/tesla_logo.png", alt="")   
                   
                div.box1        
                   
                    img(src="/static/microsoft_logo.png", alt="")   
                   
                div.box1        
                    
                    img(src="/static/hp_logo.png", alt="")   
                div.box1        
                    
                    img(src="/static/apple_logo.png", alt="")   
                   

        footer#footer
            h3
                |Copyright © 2020 PrashDanceAcademy.com|All right reserved
            h4
                |Contact Number :-9582543390 |Gmail:-Kartik2254blue@gmail.com
        script
            include ../static/index.js
             
        